.games-list {
    width: 300px;
    height: 510px;
    border-radius: 8px;
    position: relative;
    background-color: #ffffff;
}

.games-list img {
    width: 286px;
    height: 150px;
    border-radius: 8px;
    margin: 7px;
}

.game-info {
    margin: 0 14px;
}

.game-info .game-about {
    margin-bottom: 0;
    margin-top: 5px;
    color: #8c9497;
    height: 180px;
}

.game-name {
    color: #0E161A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
    font-weight: bold;
}

.btn-cart {
    width: 100%;
    background: #FF9900;
    border-radius: 0px 0px 8px 8px;
    border: none;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text {
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}

.btn-cart:hover {
    background-color: #f7b02f;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .games-list {
        width: 100%;
        margin-bottom: 20px;
    }

    .games-list img {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}

@media only screen and (min-width: 401px) and (max-width: 760px) {}